:root {
  --bs-primary: #bed12f;
  --bs-secondary: #58585a;
}

body {
  max-width: 960px !important;
  color: var(--bs-secondary);
}

header {
  background-image: url(../img/ftr-rays.png);
  background-position: top;
}

nav {
  background-color: var(--bs-primary);
}

footer {
  background-color: var(--bs-secondary);
  color: white;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.footer-rays {
  height: 92px;
  width: 100%;
  object-fit: cover;
  background-color: white;
}